/*!
Renard Editor Styles
*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/** === Content Width === */

.wp-block {
	max-width: calc(100% - 60px);

	@media( min-width: 600px ) {
		max-width: 1170px;
	}

	// Only the top level blocks need specific widths, therefore override for every nested block.
	.wp-block {
		width: 100%;
	}
}

/** === Base Typography === */

body {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
	margin: 0 0 24px;
	padding: 0;
}

h1 {
	@include font-size(2);
	line-height: 1.2;
}

h2 {
	@include font-size(1.75);
	line-height: 1.2;
}

h3 {
	@include font-size(1.5);
	line-height: 1.2;
}

h4 {
	@include font-size(1.25);
	line-height: 1.2;
}

h5 {
	@include font-size(1);
	line-height: 1.5;
}

h5 {
	@include font-size(0.75);
	line-height: 1.5;
}

p {
	margin: 0 0 24px;
}

a {
	color: $color__link;
	transition: all 200ms linear;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}