h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
	margin: 0 0 24px;
	padding: 0;
}

h1 {
	@include font-size(2);
	line-height: 1.2;
}

h2 {
	@include font-size(1.75);
	line-height: 1.2;
}

h3 {
	@include font-size(1.5);
	line-height: 1.2;
}

h4 {
	@include font-size(1.25);
	line-height: 1.2;
}

h5 {
	@include font-size(1);
	line-height: 1.5;
}

h5 {
	@include font-size(0.75);
	line-height: 1.5;
}