$color__background-body: #f1f1f1;
$color__background-screen: #f1f1f1;
$color__background-hr: #e4e4e4;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #898a8e;
$color__text-input: #898a8e;
$color__text-input-focus: #898a8e;
$color__link: #4caf50;
$color__link-visited: #4caf50;
$color__link-hover: darken( #4caf50, 15% );
$color__text-main: #898a8e;
$color__text-alt: #b1b2b4;

$color__secondary: #333742;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__background-hr;
$color__border-abbr: $color__background-hr;
